<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>株価反発分析</title>
</head>
<body>
    <h1>株価反発分析ツール</h1>
    <form method="POST">
        <label>銘柄コード: <input type="text" name="ticker" value="3436.T"></label><br>
        <label>期間: 
            <select name="example">
                <option>1d</option>
                <option>5d</option>
                <option>1mo</option>
                <option>1mo</option>
                <option>3mo</option>
                <option>6mo</option>
                <option>1y</option>
                <option>2y</option>
                <option>5y</option>
                <option>10y</option>
                <option>ytd</option>
                <option>max</option>
            </select>
            <br>
        <label>時間軸:
            <select name="example">
                <option>1m</option>
                <option>2m</option>
                <option>5m</option>
                <option>15m</option>
                <option>30m</option>
                <option>60m</option>
                <option>90m</option>
                <option>1d</option>
                <option>5d</option>
                <option>1wk</option>
                <option>1mo</option>
                <option>3mo</option>
        </select><br>
        <label>支持線: <input type="text" name="support_min" value="1700"> 〜 <input type="text" name="support_max" value="2000"></label><br>
        <label>抵抗線: <input type="text" name="resistance_min" value="2600"> 〜 <input type="text" name="resistance_max" value="2986"></label><br>
        <label>呼値: <input type="text" name="tick_size" value="0.5"></label><br>
        <label>閾値: <input type="text" name="threshold" value="15"></label><br>
        <button type="submit">実行</button>
    </form>

    {% if graph_url %}
        <h2>分析結果</h2>
        <img src="data:image/png;base64,{{ graph_url }}">
    {% endif %}
</body>
</html>
